<div>
  <nav class="navbar navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <span class="navbar-brand">Skyline Inn</span>
      <span *ngIf="auth.role == 'admin'">
        <button
          routerLink="rooms"
          routerLinkActive="active"
          type="button"
          class="btn btn-outline-success ms-4"
        >
          Rooms
        </button>
        <button
          routerLink="bookings"
          routerLinkActive="active"
          type="button"
          class="btn btn-outline-success ms-4"
        >
          Bookings
        </button>
        <button
          routerLink="users"
          routerLinkActive="active"
          type="button"
          class="btn btn-outline-success ms-4"
        >
          Users
        </button>
      </span>
      <span style="margin-left: auto; margin-right: 10px;">{{ auth.username }}</span>
      <button class="btn btn-outline-danger" (click)="logOut()">Log Out</button>
    </div>
  </nav>
</div>